.vs/
CirculoWFA/obj/
CirculoWFA/bin/
Escola_POO_BASE/obj/
Escola_POO_BASE/bin/
Idade_POO_WFA/obj/
Idade_POO_WFA/bin/
Idade_POO_WFA2/obj/
Idade_POO_WFA2/bin/
LampadasWFA/obj/
LampadasWFA/bin/
MacasPOO_IF_WFA/obj/
MacasPOO_IF_WFA/bin/
MediaNota/obj/
MediaNota/bin/
NotasPOO_WFA/obj/
NotasPOO_WFA/bin/
OlaMundoWFA/obj/
OlaMundoWFA/bin/
SomaWFA/obj/
SomaWFA/bin/
UberPOO_WFA/obj/
UberPOO_WFA/bin/
UcWFA/obj/
UcWFA/bin/

